<ion-view title="digipass">
    <ion-content padding="true" class="has-header">
        <img src="/img/logo-noalpha.png" width="100%" height="auto" style="width: 100%; height: auto;">
        <div>
            <p>
                <strong>Dispositivo de seguridad</strong>
            </p>

            <p>Ingrese el código de su dispositivo de seguridad para asociar este dispositivo a la aplicación</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">DIGIPASS</span>
                <input type="text" placeholder="*********">
            </label>
        </form>
        <div>
            <p>o enviar un SMS a tu telèfono</p>
        </div>
        <button class="button button-stable button-block ">CONTINUAR</button>
    </ion-content>
</ion-view>