<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <img src="/img/logo-noalpha.png" width="100%" height="auto" style="width: 100%; height: auto;">
        <form class="list">
            <div>
                <p>
                    <strong>Registro de mi Inversión</strong>
                </p>

                <p>Ingrese su rut y clave de internet</p>
            </div>
            <ion-list>
                <form class="list"></form>
                <label class="item item-input">
                    <span class="input-label">RUT</span>
                    <input type="text" placeholder="Ingrese su rut">
                </label>
                <label class="item item-input">
                    <span class="input-label">CLAVE DE INTERNET</span>
                    <input type="password" placeholder="******">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/page2" class="button button-stable button-block ">Continuar</a>
            <a class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
